{% extends 'learning_logs/base.html' %}

{% block header %}
 <h1>Entries</h1>
 {% endblock header %}


{% block content %}

 
 <ul>

       {% for entry in entries %}
     <li>
      <h5>
      <p>{{ entry.id }}</p>  
      <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
      <p>{{ entry.text|linebreaks }}</p>
      
      </h5>
     </li>
     <form action="{% url 'learning_logs:edit_entry' entry.id              %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
       <button type="submit">Edit entry</button>
     </form>
     {% empty %}
     <li>
       There are no entries for this topic yet.
      <li>
     {% endfor %}

 
  

