{% extends "learning_logs/base.html" %}

{% block content %}

<p>Entries:</p>
<ul>
{% for entry in entries %}
  <li>
    <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
    <p>{{ entry.text|linebreaks }}</p>
  <li>
{% empty %}
  <li>
    There are no entries for this topic yet.
  <li>
{% endfor %}
<ul>   


<p>Topics: {{ topic }}</p>
<ul>
{% for topic in topics %}
  <li>
     <a href="{% url 'learning_logs:topic' topic_id=topic.id %}">{{ topic }}</a>
  </li>
{% empty %} 
  <li>
    There are no entries for this topic yet.
  <li>
{% endfor %}
<ul>   



{% endblock content %}